* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }
  
  body {
    position: relative;
    background: #f0f0f0;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar {
    position: fixed; /* removed quotes here */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
    z-index: 99;
  }
  
  .toggle-btn {
    width: 25px;
    height: 15px;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #979797;
  }
  
  .toggle-btn span:nth-child(1) {
    top: 0;
  }
  
  .toggle-btn span:nth-child(3) {
    top: 100%;
  }
  
  .logo {
    height: 30px;
    margin: -10px 30px 0;
  }
  
  .search-box {
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
  }
  
  .search-bar {
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
  }
  
  .search-btn {
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    border-left: none;
  }
  
  .search-btn img {
    height: 100%;
  }
  
  .user-options {
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  
  .user-options .icon {
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .user-dp {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .user-dp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .side-bar {
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 60px);
    background: #fff;
    overflow-y: auto;
  }
  
  .links {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .links img {
    height: 25px;
    margin-right: 20px;
  }
  
  .links:hover,
  .links.active {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .filters {
    position: fixed;
    left: 250px;
    top: 60px;
    width: calc(100% - 250px);
    height: 60px;
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 98;
  }
  
  .filter-options {
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;
  }
  
  .filter-options.active {
    color: #fff;
    background: #242424;
  }
  
 

  .video-container{
    width : calc(100% - 250px);
    margin-top: 120px;
    margin-left: 250px;
    padding : 20px;
    display : grid;
    grid-template-columns: repeat(4,25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
  }


  .video{
    min-height: 250px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .video:hover{
    transform: scale(1.03); 
  }

  .thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .content{
    width: 100%;
    height:100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }


  .channel-icon{
    width: 40px;
    height:40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .title{
    width: 100%;
    height: 40px;
    overflow: hidden;
  }


  .channel-name{
    font-size: 14px;
    margin : 2px 0;
    color : #979797
  }




  /* video player section  */

  .video-player{
    display: none;
    width:calc(100%-250px);
    margin-left : 250px;
    margin-top:60px;
    padding:20px;
    background: #fff;
  }

  .player-container{
    width : 100%;
    margin-bottom: 20px;
  }


  #videoPlayer{
    width:100%;
    height: 500px;
    background: #000;
  }

  .video-info{
    padding:20px 0;
    border-bottom:1px solid #dbdbdb;
  }

  .video-details{
    display: flex;
    justify-content: space-between;
    align-items: center;;
    margin : 15px 0;
  }

  .channel-info{
    display:flex;
    align-items: center;
    gap : 15px;
    margin :15px 0;
  }

  .channel-logo-lg{
    width : 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .video-actions{
    display: flex;
  }

  .action-btn{

    background : #f0f0f0;
    border :none;
    padding:10px 15px;
    margin-left: 10px;
    border-radius: 50px;
    cursor: 'pointer';
    display: flex;
    align-items: center;
  }

  .action-btn img{
    height: 15px;
    margin-right: 5px;
  }


  .video-description{
    margin-top: 15px;
    color:#606060;
    font-size:14px;
    line-height: 1.5;
  }

  .subscribe-btn{
    background: #cc0000;
    color : white;
    border:none ;
    padding: 10px 20px;
    border-radius : 2px;
    font-size : 14px;
    cursor : pointer;
    text-transform: uppercase;
  }